.aboutMe {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-bottom: 6em;
  overflow: hidden;
}

.AboutMe__ctrTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.aboutMe__title {
  text-align: start;
  color: var(--colorWhiteSmoke);
  font-size: var(--sizeTitleSections);
  font-weight: 900;
}

.aboutMe__barra {
  width: 25%;
  height: 1px;
  background-color: var(--colorDeepPink);
  opacity: 0.75;
}

.aboutMe__ctrImgAndParagraph {
  width: 100%;
}

.aboutMe__ctrParagraph {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.aboutMe__ctrImg {
  display: none;
}

.aboutMe__paragraph {
  color: var(--colorLightGray);
  text-align: center;
  font-size: var(--sizeParagraph);
  font-weight: 500;
}

.aboutMe__ctrSkills {
  width: 100%;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.separateSkills {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
}

.separateSkills li {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3em;
}

.aboutMe__skill {
  display: flex;
  align-items: center;
  gap: 0.3em;
  color: var(--colorLightGray);
  font-size: 1em;
}

.aboutMe__skill i {
  color: var(--colorAquamarine);
}

@media screen and (min-width: 320px) {
  .separateSkills {
    width: 70%;
  }
}

@media screen and (min-width: 480px) {
  .aboutMe__paragraph {
    width: 80%;
  }

  .separateSkills {
    width: 50%;
  }
}

@media screen and (min-width: 600px) {
  .separateSkills {
    width: 40%;
    gap: 5em;
  }
}

@media screen and (min-width: 768px) {
  .separateSkills {
    width: 35%;
    gap: 5em;
  }
}

@media screen and (min-width: 1300px) {
  .aboutMe__ctrImgAndParagraph {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .aboutMe__ctrImg {
    display: block;
    width: 60%;
    height: 400px;
  }

  .aboutMe__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .separateSkills {
    width: 40%;
  }
}
