.sectionCarrera{
    width: 100%;

}

.containerTitleCarrera{
    padding: 0 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2em;
    gap: .5em
}

.emojiCarrera{
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(123, 74, 226, 0.1);
    color: #7B4AE2;
    border-radius: 8px;
}

.titleCarrera{
    font-size: 1.8em;
    color: #FFFFFF;
    font-weight: 600;
}

.containerSliders{
    padding: 0 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.articleProfessional{
    width: 100%;
}

.titleAreaContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5em;
}

.titleArea{
    color: #FFFFFF;
}

.paragraphArea{
    color: rgba(255, 255, 255, 0.5);;
}

.containerCardsArea{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    padding: 1em 0;

    gap: 2em;
}

.containerCardsArea::-webkit-scrollbar {
    -webkit-appearance: none;
}

.containerCardsArea::-webkit-scrollbar-button:increment,
.containerCardsArea::-webkit-scrollbar-button {
    display: none;
}

.containerCardsArea::-webkit-scrollbar:horizontal {
    height: 8px;
}

.containerCardsArea::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: 1px solid rgba(123, 74, 226, 0.5);
}

.containerCardsArea::-webkit-scrollbar-track {
    border-radius: 10px;
}

.cardArea{
    min-width: 400px;
    max-width: 500px;
    padding: 1em;
    display: grid;
    grid-template-rows: 2fr 1fr;
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 8px;
    scroll-snap-align: center;

}

.titleCard{
    margin-bottom: .3em;
    font-size: .9em;
    color: #FFFFFF;
}

.paragraphCard{
    color:rgba(255, 255, 255, 0.5);
}

.containerDateCardAndCertificate{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.containerDate{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7B4AE2;
}

.linkCertificate {
    color: #7B4AE2;
}

@media screen and (min-width: 480px){
    .emojiCarrera{
        width: 150px;
        height: 35px;
        font-size: 1.2em;
    }

    .titleCarrera{
        font-size: 2em;
    }
}

@media screen and (min-width: 768px){
    .emojiCarrera{
        width: 180px;
        height: 40px;
        font-size: 1.5em;
    }

    .titleCarrera{
        font-size: 2.3em;
    }
}

@media screen and (min-width: 1024px){

    .sectionCarrera{
       margin-bottom: 4em;
    }

    .containerTitleCarrera{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 4em;
    }

    .titleCarrera br {
        display: none;
    }

    .containerSliders{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .titleAreaContainer{
        align-items: center;
        justify-content: center;
    }

    .containerCardsArea{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
}

@media screen and (min-width: 1280px){
    .titleArea{
        font-size: 1.5em;
    }

    .paragraphArea{
        font-size: 1.1em;
    }

    .titleCard{
        font-size: 1.2em;
    }

    .paragraphCard{
        font-size: 1.1em;
    }
}