.menuBurger{
    position: absolute;
    top: 25px;
    right: 0;
    width: 35px;
    height: 35px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.menuBurger span {
    display: block;
    width: 100%;
    margin-top: 10px;
    height: 3px;
    background: #EAEBED;
    transition: transform 300ms;
    transform-origin: 0px 100%;
}

.activeLine1 {
    transform: rotate(45deg) translate(-0.5px, -1px);
}

.activeLine2 {
    opacity: 0;
    margin-left: -30px;
}

.activeLine3 {
    transform: rotate(-45deg) translate(4px, 1px);
}

@media screen and (min-width: 768px){
    .menuBurger{
        display: none;
    }
}