* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: #090E16;
  font-family: 'Shantell Sans', cursive;
}

#__next{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4, p, figure {
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.containerBtnFloating{
  position: fixed;
  bottom: 5em;
  right: 1em;
}

@media screen and (min-width: 768px){
  .containerBtnFloating{
    display: none;
  }
}