.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-bottom: 2em;
}

.portfolio__ctrTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.3em;
  margin-bottom: 1em;
}

.portfolio__title {
  text-align: start;
  color: var(--colorWhiteSmoke);
  font-size: var(--sizeTitleSections);
  font-weight: 900;
}

.portfolio__barra {
  width: 25%;
  height: 1px;
  background-color: var(--colorDeepPink);
  opacity: 0.75;
}

.portfolio__ctrCards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
}

.card {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.card__ctrImg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
}

.card__blurImg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}

.card__btnImg {
  position: absolute;
  top: 0.5em;
  left: 0.1em;
  opacity: 0;
  cursor: pointer;
}

.card__ctrImg:hover .card__blurImg {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.card__ctrImg:hover .card__btnImg {
  opacity: 1;
  font-size: 1em;
  padding: 0.4em 1em;
  background-color: var(--colorDeepPink);
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: var(--colorWhiteSmoke);
  box-shadow: 0.4em 0.4em 0.4em rgba(0, 0, 0, 0.3);
}

.card__ctrImg:hover .card__img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.4s ease-in-out;
}

.card__btnImg::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    rgba(33, 33, 33, 1) 0%,
    rgba(33, 33, 33, 1) 50%,
    rgba(150, 4, 31, 1) 50%,
    rgba(191, 4, 38, 1) 60%
  );
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.card__btnImg:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.card__btnImg:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}

.card__content {
  width: 100%;
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
}

.card__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.card__title {
  color: var(--colorWhiteSmoke);
  font-size: var(--sizeTitleCard);
  transition: 0.5s ease-in-out;
}

.card__title:hover {
  color: var(--colorAquamarine);
  transition: 0.5s ease-in-out;
}

.card__paragraph {
  color: var(--colorLightGray);
}

.card__skillsUsage {
  padding-top: 0.6em;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.card__skillsUsage b {
  color: var(--colorDeepPink);
  font-weight: 900;
}

.card__skillsUsage span {
  color: var(--colorAquamarine);
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.card__icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  padding-top: 1em;
}

.card__icon {
  position: relative;
  display: inline-flex;
}

.card__icon::before,
.card__icon::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 3px);
  visibility: hidden;
  transition: transform 0.5s;
}

.card__icon::before {
  top: -10px;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
}

.card__icon::after {
  content: attr(data-tooltip);
  top: -30px;
  padding: 2px 4px;
  color: var(--colorWhiteSmoke);
  font-size: 0.9em;
  background-color: var(--colorDeepPink);
  border-radius: 3px;
}

.card__icon:hover::before,
.card__icon:hover::after {
  transform: translate(-50%, 0);
  visibility: visible;
}

.card__icon i {
  color: var(--colorWhiteSmoke);
  transition: 0.2s ease-in-out;
  font-size: var(--sizeIconsPortfolio);
}

.card__icon i:hover {
  color: var(--colorAquamarine);
  transition: 0.2s ease-in-out;
}

@media screen and (min-width: 640px) {
  .card__ctrImg:hover .card__btnImg {
    text-transform: uppercase;
    font-size: 1em;
    padding: 0.5em 1em;
  }
}

@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
    align-items: flex-start;
    gap: 1em;
  }

  .card__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .card__content {
    width: 50%;
    padding-top: 0.5em;
    display: flex;
    flex-direction: column;
  }

  .card__skillsUsage {
    justify-content: flex-start;
  }
}
