.sectionSkills {
    width: 100%;
    margin-bottom: 2em;
}

.containerTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 1em;
    gap: .5em;
}

.greetingEmoji {
    width: 130px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(123, 74, 226, 0.1);
    color: #7B4AE2;
    border-radius: 8px;
}

.titleSkills {
    font-size: 1.8em;
    color: #FFFFFF;
    font-weight: 600;
}

.containerSkills {
    padding: 1em;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 2em;
}

.containerSkills::-webkit-scrollbar {
    -webkit-appearance: none;
}

.containerSkills::-webkit-scrollbar-button:increment,
.containerSkills::-webkit-scrollbar-button {
    display: none;
}

.containerSkills::-webkit-scrollbar:horizontal {
    height: 8px;
}

.containerSkills::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: 1px solid rgba(123, 74, 226, 0.5);
}

.containerSkills::-webkit-scrollbar-track {
    border-radius: 10px;
}


.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(123, 74, 226, 0.5);
}

.skill i {
    font-size: 2em;
}

.logoNext {
    width: 60px;
    height: 33px;
}

@media screen and (min-width: 480px) {
    .greetingEmoji {
        width: 160px;
        height: 40px;
        font-size: 1.2em;
    }

    .titleSkills {
        font-size: 2em;
    }

    .skill i {
        font-size: 2.5em;
    }

    .logoNext {
        width: 70px;
        height: 40px;
    }

}

@media screen and (min-width: 768px) {
    .greetingEmoji {
        width: 200px;
        height: 45px;
        font-size: 1.5em;
    }

    .titleSkills {
        font-size: 2.3em;
    }

    .skill i {
        font-size: 3em;
    }

    .logoNext {
        width: 85px;
        height: 50px;
    }

}

@media screen and (min-width: 810px) {
    .sectionSkills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 4em;
    }

    .containerTitle {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1em;
        gap: .5em;
    }

    .containerSkills {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        gap: 3em;
    }

}

@media screen and (min-width: 1300px) {

    .containerSkills {
        gap: 4em;
    }

    .skill i {
        font-size: 4em;
    }

    .skill p {
        font-size: 1.3em;
    }

    .logoNext {
        width: 100px;
        height: 60px;
    }
}